asttokens==2.4.1
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
diffrax==0.6.0
equinox==0.11.5
exceptiongroup==1.2.2
executing==2.0.1
fonttools==4.53.1
ipykernel==6.29.5
ipython==8.26.0
jax==0.4.31
jax-cuda12-pjrt==0.4.31
jax-cuda12-plugin==0.4.31
jaxlib==0.4.31
jaxtyping==0.2.33
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
lineax==0.0.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
ml-dtypes==0.4.0
nest-asyncio==1.6.0
numpy==1.26.4
nvidia-cublas-cu12==12.6.0.22
nvidia-cuda-cupti-cu12==12.6.37
nvidia-cuda-nvcc-cu12==12.6.20
nvidia-cuda-runtime-cu12==12.6.37
nvidia-cudnn-cu12==9.3.0.75
nvidia-cufft-cu12==11.2.6.28
nvidia-cusolver-cu12==11.6.4.38
nvidia-cusparse-cu12==12.5.2.23
nvidia-nccl-cu12==2.22.3
nvidia-nvjitlink-cu12==12.6.20
opt-einsum==3.3.0
optimistix==0.0.7
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pyzmq==26.1.0
RoughPy==0.1.1
scipy==1.14.0
six==1.16.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
typeguard==2.13.3
typing_extensions==4.12.2
wcwidth==0.2.13
